.analysisHeading {
  color: #35b2f6;
  margin-left: 0.7rem;
  font-size: 1.3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bolder;
  /* font-style: italic; */
}
.headerDiv {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  perspective: 1000px;
}
.chartsCard {
  background-color: whitesmoke; /* Some color related to white */
  transition: box-shadow 0.3s, transform 0.3s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin-right: 1rem;
  margin-left: 1rem;
  width: 97%;
}

.chartsCard:hover {
  transform: scale(1.01);
  box-shadow: 0 20px 10px rgba(0, 0, 0, 0.1);
  margin-right: 1rem;
  margin-left: 1rem;
}
.selectedDateRangeStyle {
  font-size: 14px;
}
.calendarIconStyle {
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
  padding-bottom: 10px;
}
.containerStyleA {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
